# Password files
*.txt

# Source files
freepbx/
odbc-source/
asterisk-*

.DS_Store*

# Vs Code section
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix