<module>
	<rawname>logfiles</rawname>
	<repo>standard</repo>
	<name>Asterisk Logfiles</name>
	<canuninstall>no</canuninstall>
	<version>16.0.7</version>
	<publisher>Schmooze Com. Inc.</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  	<description>The Asterisk Logfiles Module is an easy way to view portions of the Asterisk Log.</description>
  	<more-info>https://wiki.freepbx.org/display/FPG/Asterisk+Logfiles</more-info>
	<changelog>
		*16.0.7* FREEPBX-23724 
		*16.0.6* Reverting Bootstrap and dependent libs fixes 
		*16.0.5* Packaging of ver 16.0.5
		*16.0.4* FREEI-4793 
		*16.0.3* FREEPBX-23139 Trying to access array offset on value of type bool 
		*16.0.2* Packaging of ver 16.0.2
		*16.0.1*    16.0 release
	</changelog>
	<category>Reports</category>
	<menuitems>
		<logfiles>Asterisk Logfiles</logfiles>
		<logfiles_settings category="Settings">Asterisk Logfile Settings</logfiles_settings>
	</menuitems>
	<supported>
		<version>16.0</version>
	</supported>
	<location/>
	<md5sum/>
	<database>
		<table name="logfile_settings">
			<field name="key" type="string" length="100" default="" primarykey="true"/>
			<field name="value" type="string" length="255" notnull="false"/>
		</table>
		<table name="logfile_logfiles">
			<field name="name" type="string" length="25" default="" primarykey="true"/>
			<field name="permanent" type="boolean" default="0"/>
			<field name="readonly" type="boolean" default="0"/>
			<field name="disabled" type="boolean" default="0"/>
			<field name="debug" type="string" length="25" notnull="false"/>
			<field name="dtmf" type="string" length="25" notnull="false"/>
			<field name="error" type="string" length="25" notnull="false"/>
			<field name="fax" type="string" length="25" notnull="false"/>
			<field name="notice" type="string" length="25" notnull="false"/>
			<field name="verbose" type="string" length="25" notnull="false"/>
			<field name="warning" type="string" length="25" notnull="false"/>
			<field name="security" type="string" length="25" notnull="false"/>
		</table>
	</database>
</module>