<module>
	<rawname>customappsreg</rawname>
	<repo>standard</repo>
	<name>Custom Applications</name>
	<version>16.0.5</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>https://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>
		Registry to add custom extensions and destinations that may be created and used so that the Extensions and Destinations Registry can include these.
	</description>
	<more-info>https://wiki.freepbx.org/display/FPG/Custom+Extensions+Module</more-info>
	<menuitems>
		<customextens needsenginedb="yes">Custom Extensions</customextens>
		<customdests needsenginedb="yes">Custom Destinations</customdests>
	</menuitems>
	<popovers>
		<customappsreg>
			<display>customdests</display>
		</customappsreg>
 	</popovers>
    <database>
        <table name="custom_extensions">
            <field name="custom_exten" type="string" length="80" default="" primarykey="true"/>
            <field name="description" type="string" length="40" default=""/>
            <field name="notes" type="string" length="255" default=""/>
        </table>
    </database>
	<changelog>
		*16.0.5* Reverting Bootstrap and dependent libs fixes 
		*16.0.4* FREEI-4793 
		*16.0.3* Packaging of ver 16.0.3
		*16.0.2* Packaging of ver 16.0.2
		*16.0.1alpha* 16.0.1 alpha release
	</changelog>
    <depends>
        <version>12.0.54</version>
    </depends>
    <supported>
        <version>16.0</version>
    </supported>
</module>