<module>
	<rawname>dashboard</rawname>
	<repo>standard</repo>
	<name>System Dashboard</name>
	<version>16.0.15</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Dashboard</category>
	<description>
		Provides a system information dashboard, showing information about Calls, CPU, Memory, Disks, Network, and processes.
	</description>
	<more-info>https://wiki.freepbx.org/display/FPG/FreePBX+System+Status</more-info>
	<menuitems>
		<dashboard display="index" access="all" category="Dashboard" order="99999">Dashboard</dashboard>
	</menuitems>
	<depends>
		<version>14.0.5.26</version>
	</depends>
	<changelog>
		*16.0.15* FREEPBX-23909 
		*16.0.14* FREEI-4464 Adding dashboard widget for storage  
		*16.0.13* Reverting Bootstrap and dependent libs fixes 
		*16.0.12* FREEI-4793 
		*16.0.11* Packaging of ver 16.0.11
		*16.0.10* GraphQL API to check disk free 
		*16.0.9* Modification related FREEI-4360-GraphQL API to check disk free 
		*16.0.8* FREEPBX-22214 modified code to consider 'NonQual' as online for trunks 
		*16.0.7* Packaging of ver 16.0.7
		*16.0.6* FREEPBX-22195 incorrect speed display should be kB/s 
		*16.0.5* FREEPBX-22122 change teh value by default, and the tooltips in advanced settings 
		*16.0.4* FREEPBX-22122 Recent move of Intrusion Detection, causes false failure on dashboard 
		*16.0.3* Develop add notes 
		*16.0.2* Packaging of ver 16.0.2
		*16.0.1alpha* 16.0.1 alpha release
	</changelog>
	<hooks>
		<framework namespace="FreePBX\Console\Command" class="Chown">
			<method class="Dashboard" callingMethod="fwcChownFiles">chownFreepbx</method>
		</framework>
	</hooks>
	<supported>
		<version>16.0</version>
	</supported>
	<location/>
	<md5sum/>
</module>