<module>
	<rawname>infoservices</rawname>
	<repo>standard</repo>
	<name>Info Services</name>
	<version>16.0.2</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv2+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-2.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Applications</category>
	<description>Provides a number of applications accessible by feature codes: company directory, call trace (last call information), echo test, speaking clock, and speak current extension number.</description>
  	<more-info>https://wiki.freepbx.org/display/FPG/Feature+Code+Descriptions#FeatureCodeDescriptions-InfoServices</more-info>
	<changelog>
		*16.0.2* Packaging of ver 16.0.2
		*16.0.1* 16.0.1
	</changelog>
	<supported>
		<version>16.0</version>
	</supported>
</module>