<module>
    <rawname>music</rawname>
    <repo>standard</repo>
    <name>Music on Hold</name>
    <version>16.0.2</version>
    <publisher>Sangoma Technologies Corporation</publisher>
    <license>GPLv3+</license>
    <licenselink>https://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <candisable>no</candisable>
    <canuninstall>no</canuninstall>
    <category>Settings</category>
    <description>Uploading and management of sound files (wav, mp3) to be used for on-hold music.</description>
    <more-info>https://wiki.freepbx.org/display/FPG/Music+on+Hold+Module</more-info>
    <changelog>
		*16.0.2* FREEPBX-24005 
        *16.0.1* release 16.0
	</changelog>
    <database>
        <table name="music">
            <field name="id" type="integer" primarykey="true" autoincrement="true"/>
            <field name="category" type="string" length="190" notnull="false"/>
            <field name="type" type="string" length="100" notnull="false"/>
            <field name="random" type="boolean" default="0" notnull="false"/>
            <field name="application" type="string" length="255" notnull="false"/>
            <field name="format" type="string" length="10" notnull="false"/>
            <key name="category_UNIQUE" type="unique">
                <column name="category"/>
            </key>
        </table>
    </database>
    <menuitems>
        <music>Music on Hold</music>
    </menuitems>
    <depends>
        <module>framework ge 13.0.121</module>
    </depends>
    <supported>
        <version>16.0</version>
    </supported>
</module>