<module>
	<rawname>conferences</rawname>
	<repo>standard</repo>
	<name>Conferences</name>
	<version>16.0.9</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>Allow creation of conference rooms where multiple people can talk together</description>
	<more-info>https://wiki.freepbx.org/display/F2/Conferences+Module</more-info>
	<changelog>
		*16.0.9* FREEPBX-24005 
		*16.0.8* Reverting Bootstrap and dependent libs fixes 
		*16.0.7* FREEI-4793 
		*16.0.6* FREEI-3556 
		*16.0.5* FREEI-3507: delete entries from restapps_rtapi_conferences db table when a conference extension is deleted 
		*16.0.4* FREEI-3352: if /AMPUSER/ext/accountcode is set to u+userId, set it as the accountcode when a conference room is called 
		*16.0.3* Packaging of ver 16.0.3
		*16.0.2* Packaging of ver 16.0.2
		*16.0.1alpha* 16.0.1 alpha release
	</changelog>
	<depends>
		<module>recordings ge 13.0.2</module>
		<version>13.0.191.12</version>
	</depends>
	<menuitems>
		<conferences needsenginedb="yes">Conferences</conferences>
	</menuitems>
	<popovers>
		<conferences>
			<display>conferences</display>
			<view>form</view>
		</conferences>
 	</popovers>
    <database>
        <table name="meetme">
            <field name="exten" type="string" length="50" primarykey="true"/>
            <field name="options" type="string" length="15" notnull="false"/>
            <field name="userpin" type="string" length="50" notnull="false"/>
            <field name="adminpin" type="string" length="50" notnull="false"/>
            <field name="description" type="string" length="50" notnull="false"/>
            <field name="joinmsg_id" type="integer" notnull="false"/>
            <field name="music" type="string" length="80" notnull="false"/>
            <field name="users" type="smallint" default="0" unsigned="true" notnull="false"/>
            <field name="language" type="string" length="10" default=""/>
            <field name="timeout" type="integer" default="21600" unsigned="true" notnull="false"/>
        </table>
    </database>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Conferences" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Conferences">bulkhandlerGetTypes</method>
			<method callingMethod="validate" class="Conferences" namespace="FreePBX\modules">bulkhandlerValidate</method>
			<method callingMethod="import" class="Conferences" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Conferences" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
		<printextensions class="Printextensions" namespace="FreePBX\modules">
			<method callingMethod="getSections" class="Conferences" namespace="FreePBX\modules">printExtensions</method>
		</printextensions>
	</hooks>
	<supported>
		<version>16.0</version>
	</supported>
</module>