<module>
	<rawname>callrecording</rawname>
	<repo>standard</repo>
	<name>Call Recording</name>
	<version>16.0.19</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Applications</category>
	<description>
		Provides much of the call recording functionality.
	</description>
	<more-info>https://wiki.freepbx.org/display/F2/Call+Recording+Module</more-info>
	<menuitems needsenginedb="yes">
		<callrecording>Call Recording</callrecording>
	</menuitems>
 	<popovers>
		<callrecording>
			<display>callrecording</display>
			<view>form</view>
		</callrecording>
 	</popovers>
	<database>
  		<table name="callrecording">
    		<field name="callrecording_id" type="integer" primarykey="true" autoincrement="true"/>
    		<field name="callrecording_mode" type="string" length="50" notnull="false"/>
    		<field name="description" type="string" length="50" notnull="false"/>
    		<field name="dest" type="string" length="255" notnull="false"/>
  		</table>
		<table name="callrecording_module">
    		<field name="extension" type="string" length="50" notnull="false"/>
    		<field name="cidnum" type="string" length="50" default="" notnull="false"/>
    		<field name="callrecording" type="string" length="10" notnull="false"/>
    		<field name="display" type="string" length="20" notnull="false"/>
  		</table>
	</database>
	<changelog>
		*16.0.19* SCD-327 
		*16.0.18* SCD-327 
		*16.0.17* FREEI-5150 randomly the PBX doesn't record calls 
		*16.0.16* Reverting Bootstrap and dependent libs fixes 
		*16.0.15* FREEI-4793 
		*16.0.14* FREEI-4793 
		*16.0.13* FREEI-4685 
		*16.0.12* FREEPBX-23238  syntax error 
		*16.0.11* FREEPBX-23238   Syntax error 
		*16.0.10* FREEPBX-23089/Fix Variable References for MIXMON calls 
		*16.0.9* wrap MIXMON_POST, MONITOR_REC_OPTIONS and MONITOR_OPTIONS in EVAL() to properly pass dialplan vars into subsequent steps 
		*16.0.8* FREEI-3368 Removed hidden input field 'view' from the form 
		*16.0.7* FREEI-3505 Call Recording priority issue 
		*16.0.6* Packaging of ver 16.0.6
		*16.0.5* FREEI-2933 Remove link to recording calls wiki on Inbound routes, other tab 
		*16.0.4* FREEI-2750 Recording option "Yes" overriding "Never" 
		*16.0.3* FREEI-2750  extension to extension call recording option 
		*16.0.2* FREEI-2750 Recording option "Yes" overriding "Never" (Ext to Ext calls) 
		*16.0.1alpha* 16.0.1 alpha release
	</changelog>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method class="Callrecording" callingMethod="import" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method class="Callrecording" callingMethod="export" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
	</hooks>
	<supported>
		<version>16.0</version>
	</supported>
	<depends>
		<module>core ge 12.0.7</module>
		<version>13.0.5</version>
	</depends>
	<location/>
	<md5sum/>
</module>