<module>
	<rawname>voicemail</rawname>
	<repo>standard</repo>
	<name>Voicemail</name>
	<version>16.0.48</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<licenselink>https://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<license>GPLv3+</license>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<changelog>
		*16.0.48* FREEI-5549 vm backup issue 
		*16.0.47* FREEPBX-23781 
		*16.0.46* FREEI-4015 D series - Voicemail app on multiple AORs 
		*16.0.45* FREEPBX-22996 Added check to validate file extension from file type 
		*16.0.44* FREEI-4977 UCC Voicemail to email URL issue fix 
		*16.0.43* Reverting Bootstrap and dependent libs fixes 
		*16.0.42* Packaging of ver 16.0.42
		*16.0.41* Packaging of ver 16.0.41
		*16.0.40* FREEI-4793 
		*16.0.39* FREEPBX-20336 and FREEI-4723 
		*16.0.38* FREEI-4350 Added backend validation for validating file format
		*16.0.37* FREEI-4667 GQLAPI for voicemail is showing success response if extension is not present 
		*16.0.36* FREEI-4431 Reduced calling multiple ajax request into one request to move or delete bulk voicemails 
		*16.0.35* SCD-224 make the voicemail msg_id unique 
		*16.0.34* FREEPBX-23296 and FREEI-4431 
		*16.0.33* FREEI-4431 Concatenated folder name and voicemail name for msg_id while getting messages by extension 
		*16.0.32* FREEPBX-23296 GraphQL Reload Voicemail Configuration 
		*16.0.31* FREEI-4308 UCP VM widget loosing VM after moving them 
		*16.0.30* FREEPBX-23172 Added new field 'voicemails' to getStaticSettings function 
		*16.0.29* FREEPBX-23065 Forward VM broken in VM UCP Widget 
		*16.0.28* FREEI-4033 Configuring voicemail to email 
		*16.0.27* FREEI-4033 Configuring voicemail to email 
		*16.0.26* FREEI-4033 Configuring voicemail to email 
		*16.0.25* FREEI-4033 Added condition to replace 'AMPWEBADDRESS' value, if it exists in advance settings 
		*16.0.24* Packaging of ver 16.0.24
		*16.0.23* FREEI-1520 External notify field not being populated automatically in Voicemail admin 
		*16.0.22* SCD-25 method to generate symlink for a voicemail file and return a link to access it 
		*16.0.21* FREEI-2107 patch the security issue 
		*16.0.20* Packaging of ver 16.0.20
		*16.0.19* set Default options for voicemail if Optional params are not sent 
		*16.0.18* FREEI-3702 UCP-QA - VM, CEL widgets are missing for V165 
		*16.0.17* Fix `resolveInputNames` incorrect handling of variables: `saycid`, `envelope`, `attach`, and `delete` 
		*16.0.16* FREEI-3445 add method to call from userman to update the VM widget user details 
		*16.0.15* FREEI-3313 
		*16.0.14* FREEPBX-20666 UCP voice mails can't be move while UCP is in frensh 
		*16.0.13* FREEI-3253 Restore of VM greetings is not copying it's data on restore 
		*16.0.12* FREEPBX-22075 
		*16.0.11* FREEPBX-22444 bug fixed for voicemail not playing in ucp 
		*16.0.10* Packaging of ver 16.0.10
		*16.0.9* FREEI-2982 
		*16.0.8* Packaging of ver 16.0.8
		*16.0.7* FREEI-2856 Voicemail App - Voicemail Messages not showing properly 
		*16.0.6* FREEI-2791 added playVoicemailMessage method for dphone API 
		*16.0.5* FREEI-2780 Added getMessagesCountByExtensionPath method for Dphone API 
		*16.0.4* FREEI-2741 Added checkVoicemailMessagesPath method for Dphone API 
		*16.0.3* FREEI-1542 Constant VM Notifications when logged into UCP 
		*16.0.2* FREEI-1656 UCP throwing AJAX error 
		*16.0.1alpha* 16.0.1 alpha release
	</changelog>
	<description>This module allows you to configure Voicemail for a user or extension</description>
  	<more-info>https://wiki.freepbx.org/display/F2/Voicemail</more-info>
	<category>Settings</category>
	<menuitems>
		<voicemail needsenginedb="yes">Voicemail Admin</voicemail>
	</menuitems>
	<depends>
		<module>core ge 16.0.56.5</module>
		<version>16.0.10.23</version>
	</depends>
	<supported>
		<version>16.0</version>
	</supported>
	<hooks>
		<core class="Core" namespace="FreePBX\modules">
			<method callingMethod="getQuickCreateDisplay" class="Voicemail" namespace="FreePBX\modules">getQuickCreateDisplay</method>
			<method callingMethod="processQuickCreate" class="Voicemail" namespace="FreePBX\modules">processQuickCreate</method>
			<method callingMethod="delUser" class="Voicemail" namespace="FreePBX\modules">delUser</method>
		</core>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Voicemail" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="import" class="Voicemail" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Voicemail" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
		<backup class="Backup" namespace="FreePBX\modules">
			<method callingMethod="getBackupSettingsDisplay" class="Voicemail" namespace="FreePBX\modules">getBackupSettingsDisplay</method>
			<method callingMethod="processBackupSettings" class="Voicemail" namespace="FreePBX\modules">processBackupSettings</method>
		</backup>
		<ucp class="Ucp">
			<method callingMethod="constructModuleConfigPages" class="Voicemail" namespace="FreePBX\modules">ucpConfigPage</method>
			<method callingMethod="addUser" class="Voicemail" namespace="FreePBX\modules">ucpAddUser</method>
			<method callingMethod="updateUser" class="Voicemail" namespace="FreePBX\modules">ucpUpdateUser</method>
			<method callingMethod="delUser" class="Voicemail" namespace="FreePBX\modules">ucpDelUser</method>
			<method callingMethod="addGroup" class="Voicemail" namespace="FreePBX\modules">ucpAddGroup</method>
			<method callingMethod="updateGroup" class="Voicemail" namespace="FreePBX\modules">ucpUpdateGroup</method>
			<method callingMethod="delGroup" class="Voicemail" namespace="FreePBX\modules">ucpDelGroup</method>
		</ucp>
	</hooks>
	<database>
		<table name="voicemail_admin">
			<field name="variable" type="string" length="30" default="" primarykey="true"/>
			<field name="value" type="string" length="80" default=""/>
		</table>
	</database>
</module>